html,
body {
  margin: 0;
  padding: 0;
}

/* header */
.jumbotron {
  background-color: #5a5b9f;
  padding: 15em 0em;
  margin: 0;
}

/* header text */

.display-4 {
  color: aliceblue;
  font-family: "Cabin", sans-serif;
}

.lead {
  color: aliceblue;
  font-family: "Cabin", sans-serif;
}
/* header text */

/* Nav */
.navbar-brand {
  font-family: "Rubik", sans-serif;
}

/* about section */

.about-text {
  text-align: center;
  padding: 1em 1em;
}

img {
  padding-bottom: 4em;
  text-align: center;
  padding-right: 4em;
}

/* about Section End */

/* Contact Section */
.contact_text {
  text-align: center;
}

#contact-section {
  text-align: center;
}
li {
  list-style: none;
}

/* Contact Section End */

.card-body {
  background-color: #5a5b9f;
  color: #fff;
  font-family: "Cabin", sans-serif;
}

.contact-info {
}

/* Footer */
.icons {
  text-align: center;
  padding-top: 1em;
}

.icons a {
  text-decoration: none;
  color: #fff;
  margin-left: 30px;
}

.card-title {
  padding-bottom: 20px;
}
