hmtl,
body {
  margin: 0;
  padding: 0;
}

/* header */
.jumbotron {
  background-color: #5a5b9f;
  padding: 15em 0em;
  margin: 0;
}

/* header text */

.display-4 {
  color: aliceblue;
  font-family: "Cabin", sans-serif;
}

.lead {
  color: aliceblue;
  font-family: "Cabin", sans-serif;
}
/* header text */

/* about section */
#about-section .container {
  padding: 6em 0em;
}

.about_text {
  text-align: center;
}

/* about Section End */

/* Contact Section */
.contact_text {
  text-align: center;
}

/* Contact Section End */
.card-body {
  background-color: #5a5b9f;
  color: #fff;
  font-family: "Cabin", sans-serif;
}

/* Footer */
.icons {
  text-align: center;
}

.icons a {
  text-decoration: none;
  color: #fff;
  margin-left: 60px;
}

.card-title {
  padding-bottom: 20px;
}
