hmtl,
body {
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
/*/////////////////////////////////////////////////*/
/* navbar */
/*/////////////////////////////////////////////////*/

.navbar {
  background-color: #5a5b9f !important;
}

.navbar-brand,
a {
  color: #fff !important;
}

.nav-item {
  color: #fff !important;
}

#logo,
a {
  font-family: "Rubik", sans-serif;
}

/*/////////////////////////////////////////////////*/
/* header */
/*/////////////////////////////////////////////////*/

=======
/* header */
>>>>>>> c98becc6daa69c30023f867986f0d963571c8c44
.jumbotron {
  background-color: #5a5b9f;
  padding: 15em 0em;
  margin: 0;
}

<<<<<<< HEAD
/*/////////////////////////////////////////////////*/
/* header text */
/*/////////////////////////////////////////////////*/
=======
/* header text */
>>>>>>> c98becc6daa69c30023f867986f0d963571c8c44

.display-4 {
  color: aliceblue;
  font-family: "Cabin", sans-serif;
}

.lead {
  color: aliceblue;
  font-family: "Cabin", sans-serif;
}
<<<<<<< HEAD
/* header text end */

/*/////////////////////////////////////////////////*/
/* about section */
/*/////////////////////////////////////////////////*/

=======
/* header text */

/* about section */
>>>>>>> c98becc6daa69c30023f867986f0d963571c8c44
#about-section .container {
  padding: 6em 0em;
}

.about_text {
  text-align: center;
}

<<<<<<< HEAD
/*/////////////////////////////////////////////////*/
/* Contact Section */
/*/////////////////////////////////////////////////*/
=======
/* about Section End */

/* Contact Section */
>>>>>>> c98becc6daa69c30023f867986f0d963571c8c44
.contact_text {
  text-align: center;
}

/* Contact Section End */
.card-body {
  background-color: #5a5b9f;
  color: #fff;
<<<<<<< HEAD
}

li {
  list-style-type: none;
}

#contact-section {
  text-align: center;
}

#contact-section,
ul,
li {
  padding: 10px 0;
}

/*/////////////////////////////////////////////////*/
/* Footer */
/*/////////////////////////////////////////////////*/

=======
  font-family: "Cabin", sans-serif;
}

/* Footer */
>>>>>>> c98becc6daa69c30023f867986f0d963571c8c44
.icons {
  text-align: center;
}

.icons a {
  text-decoration: none;
  color: #fff;
  margin-left: 60px;
<<<<<<< HEAD
  padding-right: 95px;
}

.card-title {
  padding-bottom: 20px;
=======
>>>>>>> c98becc6daa69c30023f867986f0d963571c8c44
}
